:{$PORT}

root /data/download
browse
mime {
    .mp4 video/mp4
    .mkv video/mp4
    .mp3 audio/mp3
    .jpg image/jpg
    .png image/png
}

basicauth /store/ root coding
proxy /store/ 127.0.0.1:8080 {
    without /store
}

proxy /ws 127.0.0.1:8443 {
    websocket
}
proxy /mws 127.0.0.1:8444 {
    websocket
}

proxy /jsonrpc 127.0.0.1:6800 {
    websocket
}